@charset "utf-8";
/* CSS Document */

.box1 {
	width: 233px;
	height: 68px;
	position: absolute;
	background-color: #d1eaf1;
	float: left;
	margin-top: 10px;
	border: 1px solid #9aa3b4;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	left: 553px;
	top: 19px;
	}
.box2{
	width: 116px;
	height: 68px;
	position: absolute;
	background-color: #d1eaf1;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	border: 1px solid #9aa3b4;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	left: 425px;
	top: 19px;
}

.top{
	height: 88px;
	position: relative;
	padding: 8px;
	width: 408px;
	left: 13px;
	top: 8px;
	
}

.top1{
	height: 28px;
	position: absolute;
	padding: 8px;
	width: 141px;
	left: 176px;
	top: 67px;
	
}

.top-box{
	height: 76px;
	position: absolute;
	padding: 8px;
	width: 201px;
	left: 420px;
	top: 19px;	
}

.top-box2{
	height: 48px;
	position: absolute;
	padding: 8px;
	width: 86px;
	left: 565px;
	top: 36px;
}

.top-box3{
	height: 74px;
	position: absolute;
	padding: 8px;
	width: 173px;
	left: 609px;
	top: 12px;
}

.top-box4{
	height: 74px;
	position: absolute;
	padding: 8px;
	width: 173px;
	left: 614px;
	top: 26px;
}



.bar {
	height:7px;
    width:800px;
	background-color:white;
    text-align:center;
	float:left;
}

.manu{
	height: 27px;
	position: absolute;
	padding: 8px;
	width: 57px;
	left: 29px;
	top: 115px;
}
.manu1{
	height: 28px;
	position: absolute;
	padding: 8px;
	width: 66px;
	left: 115px;
	top: 115px;
}
.manu2{
	height: 31px;
	position: absolute;
	padding: 8px;
	width: 126px;
	left: 205px;
	top: 111px;
}
.manu3{
	height: 38px;
	position: absolute;
	padding: 8px;
	width: 72px;
	left: 339px;
	top: 111px;
}
.manu4{
	height: 31px;
	position: absolute;
	padding: 8px;
	width: 72px;
	left: 446px;
	top: 111px;
}
.manu5{
	height: 31px;
	position: absolute;
	padding: 8px;
	width: 72px;
	left: 568px;
	top: 112px;
}

.manu6{
	height: 31px;
	position: absolute;
	padding: 8px;
	width: 72px;
	left: 691px;
	top: 120px;
}

.body{
	height: 214px;
	position: absolute;
	padding: 8px;
	width: 330px;
	left: 20px;
	top: 159px;
}

.body2{
	height: 366px;
	position: absolute;
	padding: 8px;
	width: 415px;
	left: 359px;
	top: 160px;
}

.body3{
	height: 150px;
	position: absolute;
	padding: 8px;
	width: 98px;
	left: 19px;
	top: 385px;
}

.body4{
	background-color: #ef7a82;
	height: 142px;
	position: absolute;
	padding: 8px;
	width: 208px;
	left: 137px;
	top: 392px;
}

.body4-1{
	height: 55px;
	width: 114px;
	position: absolute;
	padding: 8px;
	left: 135px;
	top: 403px;
}
.body4-2{
	height: 67px;
	width: 195px;
	position: absolute;
	padding: 8px;
	left: 117px;
	top: 427px;
}
.body4-3{
	height: 55px;
	width: 114px;
	position: absolute;
	padding: 8px;
	left: 224px;
	top: 428px;
}
.body4-4{
	height: 59px;
	width: 114px;
	position: absolute;
	padding: 8px;
	left: 233px;
	top: 451px;
}


.footer{
	background-color: #b59ac3;
	height: 95px;
	width: 241px;
	position: absolute;
	padding: 8px;
	left: 27px;
	top: 567px;
}

.footer{
	height: 80px;
	width: 241px;
	position: absolute;
	padding: 8px;
	left: 27px;
	top: 557px;
}
.footer-1{
	height: 65px;
	width: 99px;
	position: absolute;
	padding: 8px;
	left: 37px;
	top: 575px;
}
.footer-2{
	height: 35px;
	width: 159px;
	position: absolute;
	padding: 8px;
	left: 19px;
	top: 548px;
}
.footer-3{
	height: 64px;
	width: 161px;
	position: absolute;
	padding: 8px;
	left: 125px;
	top: 565px;
}
.footer2{
	background-color: #8dcac3;
	height: 78px;
	width: 485px;
	position: absolute;
	padding: 8px;
	left: 290px;
	top: 558px;
}
.footer2-1{
	height: 60px;
	width: 79px;
	position: absolute;
	padding: 8px;
	left: 310px;
	top: 564px;
}
.footer2-2{
	height: 70px;
	width: 181px;
	position: absolute;
	padding: 8px;
	left: 387px;
	top: 556px;
}
.footer2-3{
	height: 54px;
	width: 77px;
	position: absolute;
	padding: 8px;
	left: 520px;
	top: 565px;
}
.footer2-4{
	height: 60px;
	width: 74px;
	position: absolute;
	padding: 8px;
	left: 600px;
	top: 555px;
}

.


‪
